<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957838412275-rvdo4cv24b3neru2n5bjqnutk1m6efmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957838412275-rvdo4cv24b3neru2n5bjqnutk1m6efmt</string>
	<key>API_KEY</key>
	<string>AIzaSyCytin104E53xUu8hEJW3N48PhTsiqYYDY</string>
	<key>GCM_SENDER_ID</key>
	<string>957838412275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.shak.mnotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tourismhotels-7c6af</string>
	<key>STORAGE_BUCKET</key>
	<string>tourismhotels-7c6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957838412275:ios:b0b509daa1753e7866aa86</string>
</dict>
</plist>